streamlit
# Numpy bản ổn định
numpy==1.26.4
# QUAN TRỌNG: Hạ Pandas xuống 1.5.3 để chạy mượt với pandas-ta trên Python 3.10
pandas==1.5.3
# Cài pandas-ta từ kho chuẩn
pandas-ta
# TensorFlow bản nhẹ
tensorflow-cpu
# Các thư viện khác
numba
plotly
scikit-learn
sqlalchemy
psycopg2-binary
joblib