streamlit
# Cài numpy bản cũ ổn định
numpy==1.26.4
# Cài pandas bản tương thích
pandas==2.2.2
# Cài pandas-ta
pandas_ta
# Tensorflow bản CPU cho nhẹ
tensorflow-cpu
# Các thư viện khác
numba
plotly
scikit-learn
sqlalchemy
psycopg2-binary
joblib